.level-left,
.level-right {
	flex-basis: auto;
	flex-grow: 0;
	flex-shrink: 0;
	flex-direction: row;
	.level-item {
		// align-items: center;
		display: flex;
		// flex-basis: auto;
		flex-grow: 0;
		flex-shrink: 0;
	}
}

.level-left {
	justify-content: flex-start;
	align-items: left;
	.level-item {
		justify-content: flex-start;
	}
}

.level-right {
	justify-content: flex-end;
	.level-item {
		justify-content: flex-end;
	}
}
