@import "styles/variables.scss";
.view {
	display: flex;
	flex-direction: row;
	min-height: 100vh;
	position: relative;

	.view-with-sidebar {
		width: 100%;
		min-height: 100%;
		z-index: 1;
		position: relative;
		display: flex;
		background-color: $page-bg;
		flex-direction: column;
	}
}
@media screen and (max-width: 600px) {
	.view {
		flex-direction: column;
		.view-with-sidebar {
			flex-grow: 2;
		}
	}
}
