.button-group {
	display: flex;
	flex-direction: row;
	.button {
		margin: 0 0.375rem;
	}
}

.button-group.align-middle {
	justify-content: center;
}

.button-group.align-left {
	justify-content: flex-start;
}

.button-group.align-right {
	justify-content: flex-end;
}
