$radius: 4px;
$border-color: hsl(0, 0%, 85%);
.checkbox-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	.label {
		justify-self: flex-start;
		margin-left: 0.5rem;
		font-weight: 400;
		color: #363636;
	}
	.checkbox {
		height: 18px;
		width: 18px;
		line-height: 1;
		border: solid 2px $border-color;
		border-radius: 4px;
		transition: all ease-in 100ms;
		position: relative;
		i {
			width: 14px;
			height: 14px;
			font-size: 10px;
			position: absolute;
			text-align: center;
			line-height: 14px;
			color: #209cee;
			opacity: 0;
			transition: all cubic-bezier(0.5, 1.8, 0.5, 1) 100ms;
			transform: scale(0);
		}
	}

	.checkbox.checked {
		border-color: #209cee;
		i {
			opacity: 1;
			transform: scale(1);
		}
	}
}
