@import "styles/variables.scss";
// Margin Helpers
.is-marginless {
	margin: 0 !important;
}
// Margin(top, right, bottom, left)
.m-xs {
	margin: $margin-xs !important;
}

.m-sm {
	margin: $margin-sm !important;
}

.m-md {
	margin: $margin-md !important;
}

.m-lg {
	margin: $margin-lg !important;
}

// Margin Bottom
.m-b-xs {
	margin-bottom: $margin-xs !important;
}

.m-b-sm {
	margin-bottom: $margin-sm !important;
}

.m-b-md {
	margin-bottom: $margin-md !important;
}

.m-b-lg {
	margin-bottom: $margin-lg !important;
}

// Margin Top
.m-t-xs {
	margin-top: $margin-xs !important;
}

.m-t-sm {
	margin-top: $margin-sm !important;
}

.m-t-md {
	margin-top: $margin-md !important;
}

.m-t-lg {
	margin-top: $margin-lg !important;
}

// Margin Left
.m-l-xs {
	margin-left: $margin-xs !important;
}

.m-l-sm {
	margin-left: $margin-sm !important;
}

.m-l-md {
	margin-left: $margin-md !important;
}

.m-l-lg {
	margin-left: $margin-lg !important;
}

// Margin Right
.m-r-xs {
	margin-right: $margin-xs !important;
}

.m-r-sm {
	margin-right: $margin-sm !important;
}

.m-r-md {
	margin-right: $margin-md !important;
}

.m-r-lg {
	margin-right: $margin-lg !important;
}

// Margin Top & Bottom
.m-y-xs {
	margin-top: $margin-xs !important;
	margin-bottom: $margin-xs !important;
}

.m-y-sm {
	margin-top: $margin-sm !important;
	margin-bottom: $margin-sm !important;
}

.m-y-md {
	margin-top: $margin-md !important;
	margin-bottom: $margin-md !important;
}

.m-y-lg {
	margin-top: $margin-lg !important;
	margin-bottom: $margin-lg !important;
}

// Margin Left & Right
.m-x-xs {
	margin-left: $margin-xs !important;
	margin-right: $margin-xs !important;
}

.m-x-sm {
	margin-left: $margin-sm !important;
	margin-right: $margin-sm !important;
}

.m-x-md {
	margin-left: $margin-md !important;
	margin-right: $margin-md !important;
}

.m-x-lg {
	margin-right: $margin-lg !important;
	margin-bottom: $margin-lg !important;
}

// Padding Helpers

// Padding(top, right, bottom, left)
.p-xs {
	padding: $padding-xs !important;
}

.p-sm {
	padding: $padding-sm !important;
}

.p-md {
	padding: $padding-md !important;
}

.p-lg {
	padding: $padding-lg !important;
}

// Padding Bottom
.p-b-xs {
	padding-bottom: $padding-xs !important;
}

.p-b-sm {
	padding-bottom: $padding-sm !important;
}

.p-b-md {
	padding-bottom: $padding-md !important;
}

.p-b-lg {
	padding-bottom: $padding-lg !important;
}

// Padding Top
.p-t-xs {
	padding-top: $padding-xs !important;
}

.p-t-sm {
	padding-top: $padding-sm !important;
}

.p-t-md {
	padding-top: $padding-md !important;
}

.p-t-lg {
	padding-top: $padding-lg !important;
}

// Padding Left
.p-l-xs {
	padding-left: $padding-xs !important;
}

.p-l-sm {
	padding-left: $padding-sm !important;
}

.p-l-md {
	padding-left: $padding-md !important;
}

.p-l-lg {
	padding-left: $padding-lg !important;
}

// Padding Right
.p-r-xs {
	padding-right: $padding-xs !important;
}

.p-r-sm {
	padding-right: $padding-sm !important;
}

.p-r-md {
	padding-right: $padding-md !important;
}

.p-r-lg {
	padding-right: $padding-lg !important;
}

// Padding Top & Bottom
.p-y-xs {
	padding-top: $padding-xs !important;
	padding-bottom: $padding-xs !important;
}

.p-y-sm {
	padding-top: $padding-sm !important;
	padding-bottom: $padding-sm !important;
}

.p-y-md {
	padding-top: $padding-md !important;
	padding-bottom: $padding-md !important;
}

.p-y-lg {
	padding-top: $padding-lg !important;
	padding-bottom: $padding-lg !important;
}

// Padding Left & Right
.p-x-xs {
	padding-left: $padding-xs !important;
	padding-right: $padding-xs !important;
}

.p-x-sm {
	padding-left: $padding-sm !important;
	padding-right: $padding-sm !important;
}

.p-x-md {
	padding-left: $padding-md !important;
	padding-right: $padding-md !important;
}

.p-x-lg {
	padding-right: $padding-lg !important;
	padding-left: $padding-lg !important;
}
