$shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.14);
$padding-md: 1.5rem;
$radius-md: 4px;
$radius-sm: 2px;
$topbar-height: 60px;
$sidebar-width: 200px;
// Margin
$margin-xs: 0.5rem;
$margin-sm: 0.75rem;
$margin-md: 1.5rem;
$margin-lg: 2rem;

// Padding
$padding-xs: 0.5rem;
$padding-sm: 0.75rem;
$padding-md: 1.5rem;
$padding-lg: 2rem;

// Font Sizes
$font-size-1: 2.041rem;
$font-size-2: 1.793rem;
$font-size-3: 1.575rem;
$font-size-4: 1.383rem;
$font-size-5: 1.215rem;
$font-size-6: 1rem;
$font-size-7: 0.823rem;

// Colors
$primary: #3273dc;
$dark: #363636;
$dark-grey: #4a4a4a;
$grey: #7a7a7a;
$light: #ebebeb;
$page-bg: #f5f6f8;
